<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TwitterAPITesting" parallel="false">

    <test name="APITesting">
        <parameter name="ExecutionType" value="remote"/>
        <classes>
            <class name="TestSetup.TestSetup"/>
        </classes>
    </test>

</suite>